/*
a.lightbox img {
height: 390px;
padding: 2px;
}

.lightbox-target {
width: 100%;
width: 100%;
}

.lightbox-target img {
margin: auto;
position: fixed;
top: 0;
left:0;
right:0;
bottom: 0;
max-height: 0%;
max-width: 0%;
  
}

a.lightbox-close {
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: black;
color: red;
text-decoration: none;
position: fixed;
top: -80px;
right: 0;
}

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: red;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: red;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
overflow:scroll;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 0;
}*/


.lightbox:hover .overlay{
  opacity: 1;
}
.lightbox{
	 position: relative;
}
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.bottom-right {
  position: absolute;
  top: 10%;
  left: 2%;
}