
{% extends 'frame.html' %}
{% block content %}
<!--All Image Image-->
<div style="margin-left: 10px">
{% for img  in Image%}
<div class="row" style="display: inline-block; margin-left: 15px; margin-top: 15px;">
<div class="col-sm-6 lg-5 md-5" style="display: flex; flex-direction: column;">
<div class="lightbox">
<div class="card" style="width: 25rem;" id="lightbox">
  <div style="position: absolute;">
    <a href="{%url 'main:otherImage' img.owner.username %}"><p style="background-color: white;">By: {{img.owner}}</p></a>
    <!--a href="/main/otherImage?owner= img.owner"><p style="background-color: white;">By: {{img.owner}}</p></a-->
  </div> 
        <img src=" {{img.imageUpload.url}}" class="image" style="height: 30rem;">

      <div class="overlay"> 
        <p style="color: #DAA520; font-family: Apple Chancery, cursive">"{{img.imageTitle}}"</p>
            {{img.description}}
      </div></div>
</div></div></div>
{%endfor%}
</div><br>





<!--free Image-->
<div style="margin-left: 10px">
  <h1 style="font-family: Brush Script MT, Brush Script Std, cursive; text-align: center;" id="Free">Free Images</h1>
{% for img  in Image%}
{%if img.image_Type == 'Free'%}
<div class="row" style="display: inline-block; margin-left: 15px; margin-top: 15px;">
<div class="col-sm-6 lg-5 md-5" style="display: flex; flex-direction: column;">
<div class="lightbox">
<div class="card" style="width: 25rem;" id="lightbox">
  <div style="position: absolute;">
    <a href="{%url 'main:otherImage' img.owner.username %}"><p style="background-color: white;">By: {{img.owner}}</p></a>
  </div> 

        <img src=" {{img.imageUpload.url}}" class="image" style="height: 30rem;">

      <div class="overlay"> 
        <p style="color: #DAA520; font-family: Apple Chancery, cursive">"{{img.imageTitle}}"</p>
            {{img.description}}

            <a href="{{ img.imageUpload.url}}" class="bottom-right" download><i class="fa fa-download" style="color: green;"></i></a>
      </div></div>
</div></div></div>
  {%endif%}
{%endfor%}
</div><br>




<!--Paid Image-->
<div style="margin-left: 10px">
  <h1 style="font-family: Brush Script MT, Brush Script Std, cursive; text-align: center;" id="Paid">Premium Images</h1>
{% for img  in Image%}
{%if img.image_Type == 'Paid'%}
<div class="row" style="display: inline-block; margin-left: 15px; margin-top: 15px;">
<div class="col-sm-6 lg-5 md-5" style="display: flex; flex-direction: column;">
<div class="lightbox">
<div class="card" style="width: 25rem;" id="lightbox">
  <div style="position: absolute;">
    <a href="{%url 'main:otherImage' img.owner.username %}"><p style="background-color: white;">By: {{img.owner}}</p></a>
  </div> 
        <img src=" {{img.imageUpload.url}}" class="image" style="height: 30rem;">

      <div class="overlay"> 
        <p style="color: #DAA520; font-family: Apple Chancery, cursive">"{{img.imageTitle}}"</p>
            {{img.description}}
      </div></div>
</div></div></div>
  {%endif%}
{%endfor%}
</div><br>

{% endblock %}


<style>

</style>

<script>

</script>